{
  "env": {
    "browser": true,
    "jquery": false,
    "es6": true
  },
  "globals": {
    "chayns": true,
    "__DEV__": true,
    "__QA__": true,
    "__PROD__": true
  },
  "parser": "babel-eslint",
  "plugins": ["react-hooks"],
  "ignorePatterns": ["node_modules/", "build/"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "strict": 0,
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-danger": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-use-before-define": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-curly-newline": "off",
    // Suppression of reassign erros for immer.js
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["draft"] }
    ],
    "import/prefer-default-export": "off"
  },
  "extends": ["airbnb", "prettier"]
}
